<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Bookmarker</title>
    <link rel="stylesheet" href="./popup.css">
</head>
<body>
    <h1> Video Bookmarker </h1>
    <div class="container">
        <form class="form">
            <input type="text" id="bookmark-name" placeholder="Bookmark Name">
            <input id="bookmark-button" type="submit" value="Bookmark">
        </form>
        <div class="bookmarks">
            <ul id="bookmarks-list">
                <!-- <li>
                    <a href="#" class="bookmark">Bookmark 1</a>
                </li> -->
            </ul>
        </div>

</body>
</html>