<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Bookmarker</title>
    <link rel="stylesheet" href="./popup.css">
</head>
<body>
    <header>
        <h1> Video Bookmarker </h1>
        <form class="form">
            <div class="container"></div>
            <div id="input-container">
                <input type="text" id="bookmark-name" placeholder="Bookmark Name">
                <input type="text" id="bookmark-link" placeholder="Bookmark Link">
            </div>
            <input id="bookmark-button" type="submit" value="Bookmark">
        </form>
    </header>
        <div class="bookmarks">
            <ul id="bookmarks-list">
                <!-- Bookmarks will be added here -->
            </ul>
        </div>

        <template id="bookmark-template">
            <li>
                <a href="#" class="bookmark"></a>
            </li>
        </template>
        <script src="../scripts/popup.js"></script>
</html>